/* Default Fonts*/
@font-face {
font-family: "Arrival Apercu Pro";
src: url("https://static.arrival.com/fonts/5.014-0/ArrivalApercuPro-Light.woff2") format("woff2");
}
@font-face {
font-family: "Arrival Apercu Mono Pro";
src: url("https://static.arrival.com/fonts/5.014-0/ArrivalApercuMonoPro-Regular.woff2") format("woff2");
}
@font-face {
font-family: "Arrival Apercu Pro Medium";
src: url("https://static.arrival.com/fonts/5.014-0/ArrivalApercuPro-Medium.woff2") format("woff2");
}
/* Default Colors*/
:root {
--active-blue: #2044ff;
--black: #0F1011;
--white: #ffffff;
--error:#F34E16;
--success:#00B469;
--light-gray:#f4f4f4;
--medium-gray:#e9e9e9;
--dark-gray:#404040;
}
* {
box-sizing:border-box;
margin: 0;
text-align:left;
scroll-behavior: smooth;
overflow: -moz-scrollbars-none;
-ms-overflow-style: none;
}
*::-webkit-scrollbar{
width: 0 !important;
}
html, body {
height:100%;
color:var(--black);
background-color:var(--light-gray);
font-size: calc(16px + 0.390625vw);
}
/* Button style*/
.button{
display:flex;
align-items:center;
border:none;
outline:0;
font-family: "Arrival Apercu Mono Pro";
text-transform:uppercase;
letter-spacing: 0.10em;
cursor:pointer;
}
/* Button hover style*/
.button:hover{
opacity:85%;
}
.btn{
border:none;
outline:0;
cursor:pointer !important;
}
/* Button hover style*/
.btn:hover{
opacity:85%;
}
/* Button style if used as a tag/badge - removes pointer*/
.not-btn{
cursor:initial;
}
/* Button hove style if used as a tag/badge - removes hover*/
.not-btn:hover{
opacity:100%;
}
/* Button style for disabled state - adds background pattern and prevents clicks*/
.disabled-btn{
background-image:linear-gradient(45deg, #ffffff 25%, #ededed 25%, #ededed 50%, #ffffff 50%, #ffffff 75%, #ededed 75%, #ededed 100%);
background-size: 0.35375rem 0.35375rem;
pointer-events:none;
background-color:var(--white);
color:var(--black)!important;
}
/* Button style for standard small button*/
.sm-btn{
height:3em;
min-width:3em;
border-radius:0.25em;
font-size:0.5em;
padding:0.5em 1em 0.5em 1em;
margin-right:0.5em;
}
/* Button style for large bottom navigation buttons*/
.nav-btn{
display:flex;
align-items:center;
min-height:4.5em;
font-size:0.65em;
padding:1em;
}
/* Button style for return button - adds background and text color */
.nav-btn.return{
background-color:var(--black);
color:var(--white);
}
/* Button style for return button - adds return icon*/
.nav-btn.return::after{
margin-left:0.5em;
content:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuNjE1OSA0Ljg4ODg5SDEwLjIyMkMxMS40NDkzIDQuODg4ODkgMTIuNDQ0MiA1Ljg4MzgxIDEyLjQ0NDIgNy4xMTExMUMxMi40NDQyIDguMzM4NDEgMTEuNDQ5MyA5LjMzMzMzIDEwLjIyMiA5LjMzMzMzSDQuNjI4MjhMNi41MzYyMyA3LjQyNTM4TDUuOTA3NjkgNi43OTY4NEwyLjkyNjc2IDkuNzc3NzhMNS45MDc2OSAxMi43NTg3TDYuNTM2MjMgMTIuMTMwMkw0LjYyODI4IDEwLjIyMjJIMTAuMjIyQzExLjk0MDIgMTAuMjIyMiAxMy4zMzMxIDguODI5MzMgMTMuMzMzMSA3LjExMTExQzEzLjMzMzEgNS4zOTI4OSAxMS45NDAyIDQgMTAuMjIyIDRINS42MTU5VjQuODg4ODlaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
}
/* Button style for forward button - adds background and text color and allows button to consume space */
.nav-btn.forward{
flex:50%;
justify-content:space-between;
background-color:var(--active-blue);
color:var(--white);
}
/* Button style for return button - adds forward icon*/
.nav-btn.forward::after{
margin-left:0.5em;
content:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjQzOTQgOC41MDAwNEw5LjI5MjkzIDExLjY0NjVMMTAgMTIuMzUzNkwxNC4zNTM2IDguMDAwMDRMMTAgMy42NDY0OEw5LjI5MjkzIDQuMzUzNTlMMTIuNDM5NCA3LjUwMDA0SDEuNjQ2NDhWOC41MDAwNEgxMi40Mzk0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==')
}
/* Color style for Active Blue - adds background and text color*/
.blue{
background-color:var(--active-blue);
color:var(--white);
}
/* Color style for Gray - adds background and text color*/
.gray{
background-color:var(--medium-gray);
color:var(--black);
}
.dark{
background-color:var(--dark-gray);
color:var(--white);
}
.light{
background-color:var(--light-gray);
color:var(--black);
}
/* Color style for Black - adds background and text color*/
.black{
background-color:var(--black);
color:var(--white);
}
/* Color style for White - adds background and text color*/
.white{
background-color:var(--white);
color:var(--black);
}
/* H1 Header text style*/
h1{
font-weight:500;
font-size:1.75em;
line-height:1.5em;
letter-spacing: -0.01em;
font-style: normal;
font-family: Arrival Apercu Pro Medium, -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 margin: 0.2em 0 0.2em 0;
}
/* H2 Header text style*/
h2{
font-weight:300;
font-size:1.75em;
line-height:1.25em;
font-style: normal;
font-family: Arrival Apercu Pro, -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
margin: 0.3em 0 0.3em 0;
}
/* H3 Header text style*/
h3{
font-weight:500;
font-size:1em;
line-height:1.5em;
letter-spacing: -0.01em;
font-family: Arrival Apercu Pro Medium, -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
margin: 0.4em 0 0.4em 0;
}
/* Paragragh text style*/
p{
font-weight:300;
font-size:1em;
line-height:1.5em;
font-family: Arrival Apercu Pro, -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
margin: 0.55em 0 0.55em 0;
}
/* Arrival MONO text style*/
.mono{
font-family: "Arrival Apercu Mono Pro";
text-transform:uppercase;
letter-spacing: 0.10em;
font-size:0.5em;
line-height:1.5em;
}
header {
position:fixed;
top:0;
left:0;
display:flex;
background: var(--light-gray);
height:4.5em;
width:100%;
align-items:center;
padding: 1em;
z-index:9999;
}
.menu{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' viewBox='0 0 28 28' version='1.1' xml:space='preserve' style='' x='0px' y='0px' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cg transform='matrix(1,0,0,1,0,-84)'%3E%3Cg%3E%3Cpath d='M26,100C26,99.448 25.552,99 25,99L16,99C15.448,99 15,99.448 15,100L15,109C15,109.552 15.448,110 16,110L25,110C25.552,110 26,109.552 26,109L26,100Z'%3E%3C/path%3E%3Cpath d='M13,100C13,99.448 12.552,99 12,99L3,99C2.448,99 2,99.448 2,100L2,109C2,109.552 2.448,110 3,110L12,110C12.552,110 13,109.552 13,109L13,100Z'%3E%3C/path%3E%3Cpath d='M13,87C13,86.448 12.552,86 12,86L3,86C2.448,86 2,86.448 2,87L2,96C2,96.552 2.448,97 3,97L12,97C12.552,97 13,96.552 13,96L13,87Z'%3E%3C/path%3E%3Cpath d='M19,90.5L16,90.5C15.448,90.5 15,90.948 15,91.5C15,92.052 15.448,92.5 16,92.5L19,92.5L19,95.5C19,96.052 19.448,96.5 20,96.5C20.52,96.5 21,96.052 21,95.5L21,92.5L24,92.5C24.552,92.5 25,92.052 25,91.5C25,90.948 24.552,90.5 24,90.5L21,90.5L21,87.5C21,86.948 20.52,86.5 20,86.5C19.448,86.5 19,86.948 19,87.5L19,90.5Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-repeat:no-repeat;
background-position:center;
background-size:1.5em 1.5em;
}
.container{
position:absolute;
display:block;
top:11em;
height:calc(100% - 13.9em);
background-color:var(--light-gray);
overflow:auto;
margin-bottom:4.5em;
}
.row {
display:flex;
width:100%;
flex:1;
padding:1em 0em 1em 0em;
}
.columns {
display:flex;
flex-direction:row;
flex:1;
min-height:100%;
}
.column{
padding:1em;
overflow:hidden;
}
.column.half,.card.half {
flex:1 0 50%;
}
.column.quarter {
flex:1 0 25%;
}
.column.third {
flex:1 0 33.33%;
}
.column.fill, .card.fill {
flex:100%;
}
.img-center{
display:flex;
justify-content: center;
align-items: center;
height:100%;
}
.img-center img{
height:auto;
max-width:100%;
margin:auto;
}
.progress-section {
position:fixed;
top:4.5em;
display:flex;
align-items:center;
height:6.5em;
width:100%;
padding: 1em;
overflow-x:auto;
overflow: -moz-scrollbars-none;
-ms-overflow-style: none;
background-color:var(--light-gray);
z-index:9999;
}
.progress-section::-webkit-scrollbar{
width: 0 !important;
}
.card{
position:relative;
min-height:9em;
flex: 1 1 30%;
border:none;
outline:0;
cursor:initial;
border-radius:0.25em;
margin-right:0.5em;
padding:1em;
}
.card > button{
position:relative;
bottom:-2em;
float:right;
margin-bottom:2em;
}
.card.btn.light:hover,.card.btn.white:hover{
background-color:var(--active-blue);
color:var(--white);
}
.box-drop{
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='1200pt' height='1200pt' version='1.1' viewBox='0 0 1200 1200' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m1200 600c0 214.36-114.36 412.44-300 519.62-185.64 107.18-414.36 107.18-600 0-185.64-107.18-300-305.26-300-519.62s114.36-412.44 300-519.62c185.64-107.18 414.36-107.18 600 0 185.64 107.18 300 305.26 300 519.62' fill='%23fff'/%3E%3Cpath d='m486.91 888.23v20.605c-0.011718 8.2422-3.293 16.148-9.1211 21.977-5.832 5.832-13.734 9.1133-21.98 9.125h-62.77c-8.2461-0.011718-16.148-3.293-21.977-9.125-5.832-5.8281-9.1133-13.734-9.125-21.977v-20.605zm225.95 0v20.605c0.003906 8.2383 3.2773 16.145 9.1016 21.973 5.8242 5.832 13.723 9.1133 21.965 9.1289h62.805c8.2383-0.015625 16.141-3.2969 21.965-9.1289 5.8242-5.8281 9.0977-13.734 9.1016-21.973v-20.605zm127.7-216.7c-7.2969 0-14.293 2.8984-19.449 8.0586-5.1602 5.1562-8.0586 12.152-8.0586 19.449 0 7.2969 2.8984 14.293 8.0586 19.449 5.1562 5.1602 12.152 8.0586 19.449 8.0586h86.703v57.672c0 18.746-7.4492 36.727-20.707 49.98-13.254 13.258-31.234 20.703-49.98 20.703h-513.15c-18.746 0-36.727-7.4453-49.984-20.703-13.254-13.254-20.703-31.234-20.703-49.98v-57.672h86.703c7.2969 0 14.293-2.8984 19.449-8.0586 5.1602-5.1562 8.0586-12.152 8.0586-19.449 0-7.293-2.8984-14.293-8.0586-19.449-5.1562-5.1602-12.152-8.0586-19.449-8.0586h-86.703v-236.82c0-18.75 7.4492-36.727 20.703-49.984 13.258-13.254 31.238-20.703 49.984-20.703h99.605v-47.41 0.003906c0-15 5.957-29.383 16.562-39.988s24.988-16.562 39.984-16.562h200.59c14.996 0 29.379 5.957 39.984 16.562s16.562 24.988 16.562 39.988v47.41l99.859-0.003907c18.746 0 36.727 7.4492 49.98 20.703 13.258 13.258 20.707 31.234 20.707 49.984v236.82zm-362.19-307.51h243v-47.41 0.003906c-0.007812-5.625-2.2422-11.016-6.2188-14.988-3.9766-3.9766-9.3672-6.2148-14.988-6.2188h-200.59c-5.6211 0.003906-11.012 2.2422-14.988 6.2188-3.9727 3.9727-6.2109 9.3633-6.2148 14.988zm236.12 180.56c0-13.16-5.2266-25.781-14.531-35.082-9.3047-9.3047-21.922-14.535-35.082-14.535h-129.76c-13.16 0-25.777 5.2305-35.082 14.535-9.3047 9.3008-14.531 21.922-14.531 35.082v129.76c0 13.156 5.2266 25.777 14.531 35.082 9.3047 9.3047 21.922 14.531 35.082 14.531h129.76c13.16 0 25.777-5.2266 35.082-14.531 9.3047-9.3047 14.531-21.926 14.531-35.082zm-26.793 33.688-33.32 15.914 15.016 29.262c26.395-13.793 18.305-45.176 18.305-45.176zm-57.102-8.6992 29.637 57.691c-6.7109 2.418-13.215 4.7109-19.258 6.7539-13.363 4.5195-26.105 10.695-37.934 18.383l-4.5859 3.0859c-2.4609 1.75-4.8359 3.5-7.2109 5.3359-2.2461 1.7656-4.3477 3.7031-6.293 5.793l-3.5859 3.7109-18.883 19.676h-34.555c-4.7422-0.98047-9-3.5625-12.062-7.3125-3.0586-3.75-4.7305-8.4414-4.7383-13.281v-2.5l34.43-32.766 6.8789-6.543c15.52-14.879 27.992-32.633 36.727-52.273l8.2109-18.465v-0.003906c4.6094-10.645 12.918-19.258 23.383-24.258 12.715-5.8359 30.262-7.043 47.438 14.258z' fill='%239b9b9b'/%3E%3C/g%3E%3C/svg%3E%0A");
background-repeat:no-repeat;
background-size:50%;
background-position:center;
}
.card-active{
background-color:var(--active-blue);
color:#ffffff;
background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='1200pt' height='1200pt' version='1.1' viewBox='0 0 1200 1200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m771.75 600c0 94.859-76.895 171.75-171.75 171.75-94.855 0-171.75-76.895-171.75-171.75 0-94.855 76.895-171.75 171.75-171.75 94.859 0 171.75 76.895 171.75 171.75' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
background-size:32px;
background-repeat:no-repeat;
background-position:bottom right;
}
.learning-menu{
position:absolute;
width:100%;
top:4.5em;
left:0;
display:none;
height:calc(100% - 4.5em);
background-color:#ffffff;
animation-name: animate-pop;
animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
animation-duration: 0.5s;
z-index:9999;
}
@keyframes animate-pop {
0% {
opacity: 0;
transform: scale(0.5, 0.5);
}
100% {
opacity: 1;
transform: scale(1, 1);
}
}
.learning-menu-items{
flex:60%;
padding:1em 1em 2em 1em;
}
.learning-menu-items-card-container{
display:flex;
height:100%;
flex-wrap: wrap;
flex-direction: row;
padding:1em;
overflow-x:scroll;
}
.learning-menu-items-card{
position:relative;
background-color:var(--light-gray);
flex: 0 1 25%;
height:313px;
min-width:250px;
margin:1em;
border-radius:0.25em;
font-family: "Arrival Apercu Mono Pro";
text-transform:uppercase;
font-size:11.25px;
line-height:14px;
letter-spacing: 0.10em;
padding:2em;
cursor:pointer;
}
.learning-menu-items-card:hover{
background-color:var(active-blue);
color:#ffffff;
}
.learning-menu-items-card::before{
content:'section';
margin-right:8px;
}
.learning-menu-items-card-title{
position:absolute;
bottom:2em;
left:2em;
right:2em;
}
footer {
position:fixed;
bottom:0;
display:flex;
width:100%;
z-index:9998;
}
@media only screen and (max-width: 768px){
.columns {
flex-direction:column;
}
.column.img-center img{
max-width:auto;
max-height:100%;
}
}
