<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../style/components-style.css">
</head>
<body>
<!-- button - removes the block component from editor -->
<!-- span up span down moves the block component in DOM -->
<div id="note-admonition" class="block">
<button id="controls" contenteditable="false" class="remove-element" onclick="this.parentNode.remove();"></button>
<span id="controls" class="up"></span><span id="controls" class="down"></span>
<div class="admonition note">
<div class="title" contenteditable="true" data-text="Enter title">Attractive market position</div>
<div class="content" contenteditable="true" data-text="Enter text">Designed from the ground up, the Arrival Van can be tailored precisely to individual routes and specific uses - with different heights, lengths and battery capacities available. It’s internal cargo bay is optimised to efficiently carry the most volume and payload on the smallest vehicle footprint possible.
</div>
</div>
</div>
</body>
</html>
