<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../style/components-style.css">
</head>
<body>
<!-- button - removes the block component from editor -->
<!-- span up span down moves the block component in DOM -->
<div id="iframe-responsive" class="block">
<button id="controls" contenteditable="false" class="remove-element" onclick="this.parentNode.remove();"></button>
<span id="controls" class="up"></span><span id="controls" class="down"></span>
<div class="responsive-frame">
<iframe id="responsive-iframe" loading="lazy" src=""></iframe>
</div>
</div>
</body>
</html>
