<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../style/components-style.css">
</head>
<body>
<!-- button - removes the block component from editor -->
<!-- span up span down moves the block component in DOM -->
<div id="footer" class="block full footer">
<button id="controls" contenteditable="false" class="remove-element" onclick="this.parentNode.remove();"></button>
<span id="controls" class="up"></span><span id="controls" class="down"></span>
<div class="pb-footer">
<span>
confidential. &copy;
<span id="publishyear"></span>
arrival ltd.
</span>
</div>
</div>
<script>document.getElementById('publishyear').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</body>
</html>
